
.board_boxes {
    fill: #2F80ED;
}
.board_lines {
    stroke: #012B4B;
}


body {
      font-family: 'Fira sans', sans-serif;  
      margin:0px;
}

#first_menu{
    background-color: #0C203B;         /* dark color */
    margin-top:0px;
    height: 60px;
}

#second_menu{
    background-color: #2F80ED;         /* medium color */
    padding-top: 15px;
    padding-bottom: 15px;
}

.small_container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 30px;
}



/*****************************************/
            /* Board page */
/*****************************************/
#board_page{
    width:100%;
    text-align: center;
    display: none;
}

#canvas{
    margin:0 auto;
}
body{
    background-color:#C3D8F0;          /* light color */
}
h1{
    color:#C3D8F0;                     /* light color */
    font-family: 'Fira sans', sans-serif;
    font-weight: 300;
    margin:0px;
}
#go-word{
    font-weight: 700;
    display:inline;
}
#logo{
    padding-top: 11px;
    padding-bottom: 10px;
    width: 121px;
    float: left ;
    margin-right: 290px;
}
#pass{
    margin:10px auto;
    
}

/*****************************************/
/* Board Size Radio Buttons in this first page */
/*****************************************/

#start_page{
    margin:50 auto;
    width: 500px;
    display: none;
}

.board-size, .game-type {
     list-style-type:none;
     margin: 0 0 0 0;
     padding:0;
}


.board-size li, .game-type li {
    float:left;
    margin:0 5px 0 0;
    width:150px;
    height:90px;
    position:relative;
}

.game-type{

    display:inline-block;
    margin-top: 40px;
}



.board_size , .game_type{
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    text-align: center;
    color: #2F80ED;               /* medium color */
    font-size: 40px;
    font-family: 'Fira sans', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    border:3px solid;     /* medium color */
    border-color: #2F80ED;
    border-radius:4px;
    cursor:pointer;
    z-index:90;
}

.game_type{
    padding-top: 0px;
}

#type_hotseat svg{
    margin-top: 17px;
}

#type_network svg{
    margin-top: 12px;
    height: 60px;
}

#type_ai svg{
    margin-top: 6px;
}


.game_type svg{
    fill: #2F80ED;
    
}
.game_type_clicked svg{
    fill: #C3D8F0;
}

.board_size_clicked{
    background-color: #2F80ED;     /* medium color */
    color:#C3D8F0;                 /* light color */
}
.game_type_clicked {
    background-color: #2F80ED;     /* medium color */
    color:#C3D8F0;                 /* light color */
}

/*
.board-size label:hover {
     background:#DDD;
}
*/

/*****************************************/
/* Start game button of the first page */
/*****************************************/

#start_game_button {
    display: inline-block;
    width: 150px;
    padding: 15px 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    cursor: pointer;
    
    border: 3px solid;    
    border-color:  #2F80ED;  /* medium color */
    border-radius: 4px;
    
    color:#2F80ED;                /* medium color */
    text-align: center;

    font-size: 24px;
    font-family: 'Fira sans', sans-serif;;
    font-weight: 400;
    
    
}
#start_game_button:hover{
    background-color: #2F80ED;     /* medium color */
    color:#C3D8F0;                 /* light color */
}

/*****************************************/
/* Start game button of the first page */
/*****************************************/

.upper_menu_item {
    float: left;
    padding-top: 18px;
    color: #E3EFFF;
    font-size: 20px;
    padding-left: 50px;

}

.second_menu_item {
    color: #E3EFFF;
    font-size: 20px;
    padding-left: 5px;
    margin-right: 30px;
    display: inline;
}


.color_text{
    margin-left: 200;
}


.theme_chooser{
    margin-right:15px;
    vertical-align: middle;
}
.circle_chooser{
    margin-right:15px;
    vertical-align: middle;

}


.drop_down{
    margin-top: 99.5px;
    border-color: #2F80ED;
    border-radius: 2px;
    border-style: solid;
    border-width: 3px;
    display: none;
    width: 146;
    height: 190 ;
}

.drop_down_text_group{
    position: absolute;
    top: 102;
    left: 2;
    width: 147;
    height: 200;
    display: none;
}
.drop_down_item{
    width: 146.5;
    height: 30.5px;
    padding-top: 15;
    text-align: center;
    color: #2F80ED;
    display: none;
    margin-left:0.5;
    border-bottom: 3px solid #2F80ED;

}
.drop_down_chosen{
    background-color: #2F80ED;
    color: #E3EFFF;
    display: none;
}

/*I'm sorry about this...*/

.black{
    color: #000000;
}

.white{
    color: #FFFFFF;
}


.game_end_message{
    display:none;
    background-color: #2F80ED;
    margin:20px auto;
    width: 360px;
    border-radius: 3px;
    color: #E3EFFF ;
    padding: 10px;
    font-size: 18px;
    height: 65px;
    -webkit-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         4px 4px 18px 0px rgba(50, 50, 50, 0.3);
}

.game_end_color{
    vertical-align:middle
}
.game_end_number{
    margin-left: 8px;
    text-align: center;
}

.end_game_first{
    margin-right: 50px;
    display: inline-block;
    height: 60px;
    margin-top: 5px;
}
.end_game_second{
    display: inline-block;
    height: 60px;
    margin-top: 5px;
}
.midcontain{
    display: inline-block;
    height: 31;
    margin-top: 10px;

}

.game_url{
    display:none;
    background-color: #0C203B;
    margin:20px auto;
    width: 500px;
    border-radius: 3px;
    color: #E3EFFF ;
    padding: 10px;
    font-size: 18px;
    -webkit-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    font-family: 'Fira sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.close_icon{
    width:20px;
    margin-right: 10px;
    vertical-align: middle;
}


#pass{
    background-color:  #2F80ED; /* Green */
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
}
#pass:hover{
    background-color: #012B4B;
}

.notification{
    padding:10px;
    padding-right: 30px;
    padding-left: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #012B4B;
    color: #E3EFFF ;
    border: 3px;
        -webkit-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    4px 4px 18px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         4px 4px 18px 0px rgba(50, 50, 50, 0.3);
}